
    html {
      font-family: Arial;
      height: fit-content;
      min-height: 100%;
    
    }
    h1 {
      text-align: center;
      color: rgb(0, 0, 0);
    
    }
    body {
      background:linear-gradient(45deg, #ffa600, #FFF, #BB8FCE)no-repeat;
      
      
    
    }
    header {
      background:#82b3ec;
      width: 60%;
      max-width: 80%;
      box-shadow: 3px 3px 5px rgb(63, 61, 61);
      margin: 25px auto;
      padding: 15px;
      border-radius: 10px;
    
    }
    .header-pic{
      border-radius: 50%;
      width: 80px;
      height: auto;
      margin: 10px 10px 10px 0px;
      float: left;   
      
    }

    .text-box {
      background:#82b3ec;
      width: fit-content;
      height: auto;
      max-width: 70%;
      box-shadow: 3px 3px 5px rgb(63, 61, 61);
      margin: 25px auto;
      padding: 15px 15px 15px 15px;
      border-radius: 10px;
      text-align: left;
  
    }
    .profile-pic {
      width: 150px;
      height: auto;
      margin: 0px 15px 10px 15px;
           
    }
    .button {
      background-color: #fffb2c;
      color:black;
      padding: 15px;
      font-size: 14px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      box-shadow: 1px 1px 1px 2px;

    }
    .button:hover {
      background-color: #f8b63c;
    }
    .dropbutton {
      background-color: #fffb2c;
      padding: 15px;
      font-size: 14px;
      cursor: pointer;
      border: 0px;
      box-shadow: 1px 1px 1px 2px;
    }
  .dropdown { 
    position: relative;
    display: inline-block;
  }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fffb2c;
      min-width: 170px;
      z-index: 1;
      box-shadow: 1px 1px 1px 2px;
    
    }
    .dropdown-content a{
      color: black;
      padding: 10px 15px;
      display: block;
      text-decoration: none;
    }
    .dropdown-content a:hover{
      background-color: #f8b63c;
    }
    .dropdown:hover .dropdown-content{
      display: block;
    }
    .dropdown:hover .dropbutton {
      background-color: #f8b63c;
    }
    .red-text {
      color: red;
    }
    .green-text{
      color: green;
    }
    #font-example{
      font-family: monospace;
    }
    .grid-display {
      display: grid;
      grid-template-columns: min-content 1fr;
    }
    .right-image{
      margin: 15px 15px 15px 15px;
      float: right;

    }

    
