
    html {
      font-family: Arial;
    }
    h1 {
      text-align: center;
      color: rgb(0, 0, 0);
      background: rgb(182, 182, 231);
    }
    h2 {
      text-align: left;
    }
    h3 {
        text-align: left;
    }
        body {
      background: linear-gradient(45deg, #FFC300, #BB8FCE)
    }
    .profile-pic{
        width: 150px;
        height: auto;
        margin: 0px 15px 0px 0px;

    }


    
  